$twitterColor: #1da1f2;
$linkedinColor: #0077b5;
$mediumColor: #00ab6b;
$codepenColor: #0ebeff;
$rssColor: #f87850;
$rssColor: #f87850;
$githubColor: #333333;

$gray: #A4A4A4;
$grayOpacity: rgba(235, 235, 235, 0.5);

$diamondSize: 50em;
$diamondSizeHover: 40em;
